{% extends 'accounts/base.html' %}
{% block content %}

<div class="container" style="position:absolute;top:60px">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <div class="modal-body" style="max-height:80vh;overflow:auto;overflow-x:hidden">
        {% for item in items_list %}
        <div style="border-bottom:2px solid lavender"><br>
          <h4>{{ item.title }}</h4>
          <p><br>
            <img src="{{ item.image.url }}" width="50px" height="90px"><span style="position:absolute;right:20px"><strong>{{item.price }} €</strong></span><br>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-1" style="padding-top:50px;font-family:Nunito;font-size:1.2em">
      <div style="font-size:25px;margin-top:10px">
        <span style="color:green">Your order is confirmed!</span>
        <p><br>
          <span style="font-family:serif">Order Reference:</span>
          <span style="position:absolute;right:10px"><strong>{{ order.ref }}</strong></span>
        <p>
          <span style="position:absolute;font-family:serif">Amount paid:</span>
          <span style="position:absolute;right:10px"><strong>{{ order.amount_paid }} €</strong></span>
        <p><br>
        <p>
      </div>
      <div style="margin-top: 50px">
        <a href="{% url 'home' %}"><button class="btn btn-primary">Continue shopping</button></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
